---
layout: default
title: home
permalink: /
---

<!-- FOCUS - Header in post -->
{% assign fst = false %}{% for post in site.posts %}{% if post.focus %}{% if fst == false %}{% assign fst = true %}<section class="focus">
{% include topbar.html name=post.focus.name description=post.focus.description %}{% endif %}{% include item.html %}{% endif %}{% endfor %}{% if fst %}</section>{% endif %}

<!-- NEWS -->
<!-- <section class="news"> -->
{% comment %}{% include topbar.html name=outslogan %}{% endcomment %}
{% assign sct = false %}{% for labels in site.data.labels %}{% assign cat = labels.code %}{% assign rev = site.categories[cat] | sort: 'volume' %}{% assign fst = false %}{% for post in rev reversed %}{% if post.tags contains 'new' and post.focus == null %}{% if fst == false %}{% if sct == false %}<section class="news">{% assign sct = true %}{% endif %}

  {% if post.outdate != null %}{% assign out = post.outdate %}{% else %}{% assign out = site.outdate %}{% endif %}

  {% include topbar.html name=labels.name description=out class=labels.code %}{% assign fst = true %}{% endif %}{% include item.html %}{% endif %}{% endfor %}{% endfor %}{% if sct %}</section>{% endif %}

<!-- BLOG -->
{% if site.announcements > 0 %}
<section class="blog">
  {% include topbar.html name="News from rave-up records" description="coming soon" class="blog" %}
  {% assign sorted_blog = (site.blog | sort: 'date' | reverse) %}
  {% for blog in sorted_blog limit: site.announcements %}
  {% include blog.html %}
  {% endfor %}
</section>
{% endif %}

<!-- STOCK - Header below -->
<section class="stock">
{% comment %}{% include topbar.html name="still in stock" %}{% endcomment %}{% for labels in site.data.labels %}{% assign cat = labels.code %}{% assign rev = site.categories[cat] | sort: 'volume' %}{% assign fst = false %}{% for post in rev reversed %}{% if post.tags.size == 0 and post.focus == null %}{% if fst == false %}{% include topbar.html name=labels.name description=labels.description class=labels.code %}{% assign fst = true %}{% endif %}{% include item.html %}{% endif %}{% endfor %}{% endfor %}
</section>
