{% for format in site.data.prices %}{% if format.support == page.support %}
<header class="carello">
	<h3>ORDER</h3>
	<div hidden>
		<span id="category">{{ page.category }}</span>
		<span id="volume">{{ page.volume }}</span>
		<span id="code">{{ page.category }}-{{ page.volume }}</span>
		<span id="item">{{ page.item | upcase }}</span>
		<span id="title">{{ page.title | upcase }}</span>
		<span id="support">{{ page.support }}</span>
	</div>
	{% if format.price %}<span class="grey">PRICE:</span> €<span id="price">{{ format.price }}</span>,00
	<br>{% endif %}
	{% if format.wholesale %}<span class="grey">WHOLESALE:</span> € <span id="wholesale">{{ format.wholesale }}</span>,00
	<br>{% endif %}
	<span class="grey">QUANTITY:</span> <a href="javascript:void(0);" id="sub">SUB</a>
	<span id="quantity">0</span>
	<a href="javascript:void(0);" id="add">ADD</a>
	<br>
	<span class="grey">TOTAL:</span> €<span id="total">0</span>
	<a href="javascript:void(0);" id="addcart">Add to Cart</a>
</header>
{% endif %}{% endfor %}

  <!-- SHIPPING
  <select name="zone" id="zone">
    <option value="" disabled selected>Select shipping zone</option>
    <option value="1">Europe and Mediterranean</option>
    <option value="2">Africa, Asia, America</option>
    <option value="3">Oceania</option>
  </select>
  <br><br> -->

  <!-- <a href="{{ site.baseurl }}/cart/"><button class="grey" type="button" id="view">View Cart</button></a> -->
  <!-- <script async src="{{ site.url }}/assets/js/paypal-button.min.js?merchant=raveuprecords@gmail.com"
      data-button="cart"
      data-type="form"
      data-quantity="0"
      data-shipping="0"
      data-name="{{ page.title }} - {{ page.item }}"
      data-amount="{{ format.price }}"
      data-currency="eur"
  ></script> -->
