<!-- ############# FOOTER ############# -->
<footer>
  <section>
    <h3>Rave-Up series</h3>
    <nav>
      <ul>
        {% for labels in site.data.labels %}<li><a href="{{ site.url }}{{ site.baseurl }}/{{ labels.code }}/">{{ labels.name }}</a></li>
        {% endfor %}</ul>
    </nav>
    <!-- <h3>Pages</h3>
    <nav>
      <ul>
        <li><a href="{{ site.url }}{{ site.baseurl }}/">HOME</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/series/">SERIES</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/search/">SEARCH</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/feed.xml">feed</a></li>
      </ul>
    </nav> -->
    <p><strong>RAVE UP RECORDS</strong> &ndash; PIERPAOLO DE IULIS, via Galeazzo Alessi 229 &ndash; 00176 Roma &ndash; ITALY &ndash; <a href="mailto:&#x72;&#x61;&#x76;&#x65;&#x75;&#x70;&#x40;&#x74;&#x69;&#x73;&#x63;&#x61;&#x6C;&#x69;&#x2E;&#x69;&#x74;">&#x72;&#x61;&#x76;&#x65;&#x75;&#x70;&#x40;&#x74;&#x69;&#x73;&#x63;&#x61;&#x6C;&#x69;&#x2E;&#x69;&#x74;</a></p>
    <a id="pagepermalink" href="{{ page.permalink }}" style="display:none;">permalink</a>
  </section>
</footer>
