<!-- ############# FOOTER ############# -->
<footer>
  <section>
    <aside class="meta">
      <h3>Pages</h3>
      <nav>
        <ul>
          {% for data in site.data.menu %}{% for item in data.menu %}{% for page in site.pages %}{% if page.title == item %}<li><a href="{{ page.permalink }}">{{ item | upcase }}</a></li>
          {% endif %}{% endfor %}{% endfor %}{% endfor %}
        </ul>
      </nav>
      <!-- <h3>Meta</h3> -->
      <nav>
        <ul>
          {% for data in site.data.menu %}{% for item in data.meta %}{% for page in site.pages %}{% if page.title == item %}<li><a href="{{ page.permalink }}">{{ item | upcase }}</a></li>
          {% endif %}{% endfor %}{% endfor %}{% endfor %}
        </ul>
      </nav>
    </aside>
    <h3>Rave-Up series</h3>
    <nav>
      <ul>
        {% for labels in site.data.labels %}<li><a class="{{ labels.code }}" href="/{{ labels.code }}/">{{ labels.name }}</a></li>
        {% endfor %}</ul>
    </nav>
    <p><strong>RAVE UP RECORDS</strong> &ndash; <a href=via Napoli 92/R 63100 Ascoli Piceno (AP) Italy</a> <a href='ma&#105;lto&#58;%72a%76%6&#53;&#37;&#55;5&#112;%72ecord%73%40%67&#109;&#97;%69l%2&#69;co&#37;6&#68;'>raveupre&#99;o&#114;d&#115;&#64;&#103;mai&#108;&#46;com</a>
      <br>
      <a class="repo" href="https://github.com/raveup/raveup.github.io">Updated {{ site.time | date_to_rfc822 }}</a>
    </p>
    <a hidden id="pagepermalink" href="{{ page.url }}">permalink</a>
  </section>
</footer>
