<!-- ############# FOOTER ############# -->
<footer>
  <section>
    <aside class="meta">
      <h3>Pages</h3>
      <nav>
        <ul>
          {% for data in site.data.menu %}{% for item in data.menu %}{% for page in site.pages %}{% if page.title == item %}<li><a href="{{ page.permalink }}">{{ item | upcase }}</a></li>
          {% endif %}{% endfor %}{% endfor %}{% endfor %}
        </ul>
      </nav>
      <!-- <h3>Meta</h3> -->
      <nav>
        <ul>
          {% for data in site.data.menu %}{% for item in data.meta %}{% for page in site.pages %}{% if page.title == item %}<li><a href="{{ page.permalink }}">{{ item | upcase }}</a></li>
          {% endif %}{% endfor %}{% endfor %}{% endfor %}
        </ul>
      </nav>
    </aside>
    <h3>Rave-Up series</h3>
    <nav>
      <ul>
        {% for labels in site.data.labels %}<li><a class="{{ labels.code }}" href="/{{ labels.code }}/">{{ labels.name }}</a></li>
        {% endfor %}</ul>
    </nav>
    <p><strong>RAVE UP RECORDS</strong> &ndash; via Napoli 92/R 63100 Ascoli Piceno (AP) Italy raveup@tiscali.it
      <br>
      <a class="repo" href="https://github.com/raveup/raveup.github.io">Updated {{ site.time | date_to_rfc822 }}</a>
    </p>
    <a hidden id="pagepermalink" href="{{ page.url }}">permalink</a>
  </section>
</footer>
