<article>
  {% assign currentCategory = site.data.labels | where: "code", post.category %}
  {% if post.image %}<figure>
    <a href="{{ post.url }}" title="{{ post.title | upcase }} – {{ post.item | upcase }}"><img src="/assets/covers/{{ post.category }}/{{ post.image }}s.jpg" title="{{ post.title | upcase }} – {{ post.item | upcase }}"></a>
  </figure>{% endif %}
  <header>
    <h2>
      <a href="{{ post.url }}" title="{{ post.title | upcase }} – {{ post.item | upcase }}">{{ post.title | upcase }}</a>
    </h2>
    <h3>{{ post.item | upcase }}</h3>
    <p>{{ currentCategory[0].name | upcase }} #{{ post.volume }} ({{ post.support | upcase }})</p>
  </header>
  {{ post.excerpt }}</article>
