<div>
  {% assign currentCategory = site.data.labels | where: "code", post.category %}{% if post.image %}<figure>
    <a href="{{ post.url }}" title="{{ post.title | upcase }} – {{ post.item | upcase }} – {{ post.volume }}"><img src="{% assign image_src = '/assets/covers/' | append: post.category | append: '/' | append: post.image | append: '.jpg' %}{{ image_src | absolute_url }}" title="{{ post.title | upcase }} – {{ post.item | upcase }} – {{ post.volume }}"></a>
  </figure>{% endif %}
  <header>
    <h2>
      {{ post.title | upcase }}
    </h2>
    <h3>{{ post.item | upcase }}</h3>
    <!-- <p>{{ currentCategory[0].name | upcase }} #{{ post.volume }} ({{ post.support | upcase }})</p> -->
  </header>
</div>
