---
layout: default
title: info
permalink: /info/
---
<section>
{% include topbar.html name='RAVE-UP FORMATS' description='our full releases by format' class="grey" %}
{% assign formats = site.posts | sort: "category" | reverse | group_by: "support" %}
{% for format in formats %}
  <article>
    <header>
      <h2>{{format.name}}</h2>
    </header>
    {% assign ambito = format.items %}
    <ul class="center">
    {% for post in ambito %}
      {% include itemcatalog.html %}
    {% endfor %}
    </ul>
  </article>
{% endfor %}
</section>
