/* links */

a:link, a:visited { color: white; }
a:hover, a:active { color: #b00;}
a.active { text-decoration: none;}

/* 	alternate colors */

.odd { color: #222; }
.even { color: #555; }

/**
 * COLORS
 *
 */
body{
    background-color: black;
    color: white;
}
.grey{
    color: grey;
    font-style: italic;
    font-weight: 100;
}
.grey > a:link, .grey > a:visited {
    color: white;
}
.grey > a:hover, .grey > a:active {
    color: #b00;
}
.red {
    color:#b00;
}

/**
 * IMAGES
 *
 */
.grid > .unit > .mediacrush-processed > img {
    float:left;
    width:100%;
}
/**
 * PAGINATION
 *
 */

.pagination > p > a {
    text-transform: uppercase;
}
.pagination > p {
    text-transform: capitalize;
}

/**
 * ITEMS
 *
 */

.item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #222;
}

/**
 * HEADERS
 *
 */
.header > h1 {
    border-bottom:1px solid rgba(170,0,0,.3);
    border-top:1px solid rgba(170,0,0,.3);
    background:url(../images/glow-bar.jpg) center top repeat-y;
    text-shadow:3px 3px 6px rgba(0, 0, 0, .7);
    line-height: 1.3em;
}
.header > h1.secondary {
    border-bottom:1px solid rgba(255, 255, 255, .1);
    border-top:1px solid rgba(255, 255, 255, .1);
    background:url(../images/footer.png) center top repeat-y;
    color: #bbb;
}
.header h3 {
    margin-top: 5px;
}

/* Footer */

footer{
    margin-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    background: black url(../images/footer.png) center top repeat-y;
}
footer h4 {
    margin: 10px 0px;
}

/* Dynamo */
.dynamo{ text-align:center; display:block;}

/**
 * SERIES
 *
 */
.series {
    margin: 15px 0px;
    border-bottom: 1px solid #222;
}

/**
 * MENU
 *
 */

ul.menu {
    font-size: 1.2em;
    list-style: none;
    margin: 0px;
    padding: 20px 0px;
} 
ul.menu > li {
    display:inline-block;
    padding: 10px 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .6);
    text-transform: uppercase;
}
ul.menu > li.active {
    background: #b00;
}

/**
 * FONTS
 *
 */
body {
    font-family: 'Inconsolata', sans-serif;
}
p {
    margin: 5px 0;
}
h1, h2, h3, h4 {
    margin: 0px;
    text-transform: uppercase;
}
h1 {
    font-size:3em;
    font-family: 'Oswald', sans-serif;
}
h2 {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
}
h3 {
    font-size: 1.5em;
    font-weight: 100;
    color: #bbb;
}

/**
 * SEARCH
 *
 */
ul.results {
    padding: 0px 10px;
    font-size: 1.2em;
}
ul.results > li {
    list-style-type: none;
    text-transform: uppercase;
    margin: 20px 0;
}
.results {
    min-height: 500px;
}