---
---

{% include sitetop.html %}

{% for labels in site.data.labels %}{% if labels.code == page.category %}
{% assign cat = labels.code %}

<!-- STOCK -->
{% assign rev = site.categories[cat] | sort: 'volume' %}{% assign fst = false %}{% for post in rev reversed %}{% unless post.tags contains 'soldout' %}{% if fst == false %}{% assign fst = true %}<section class="stock">{% include topbar.html name=labels.name description=labels.description %}
{% comment %}{% include topbar.html name="still in stock" %}{% endcomment %}{% endif %}{% include item.html %}{% endunless %}{% endfor %}{% if fst %}</section>{% endif %}

<!-- SOLDOUT -->
{% assign rev = site.categories[cat] | sort: 'volume' %}{% assign fst = false %}{% for post in rev reversed %}{% if post.tags contains 'soldout' %}{% if fst == false %}
<section class="soldout">
{% include topbar.html name="soldout" description=labels.name%}{% assign fst =  true %}{% endif %}{% include itemsoldout.html %}{% endif %}{% endfor %}</section>

{% endif %}{% endfor %}
{% include sitebottom.html %}
