---
script: []
---

{% include sitetop.html %}{% assign currentCategory = site.data.labels | where: "code", page.category %}
<section><article>
  {% if page.image %}<figure>
    <img src="/assets/covers/{{ page.category }}/{{ page.image }}.jpg" title="{{ page.title | upcase }} – {{ page.item | upcase }}" class="{{ page.category }}">
  </figure>{% endif %}
  <header>{% if page.tags contains 'soldout' %}<h3 class="green">SOLDOUT</h3>{% endif %}
    {% if page.tags contains 'new' %}{% if page.outdate != null %}{% assign out = page.outdate %}{% else %}{% assign out = site.outdate %}{% endif %}<h3 class="green">{{ out }}</h3>{% endif %}
    <!-- <time datetime="{{ page.date }} 2009-10-22" pubdate>{{ page.date | date: '%B %Y' }}</time> -->
    <h2>{{ page.title | upcase }}</h2>
    <h3 class="title">{{ page.item | upcase }}</h3>
    <p><a href="/{{ page.category }}" title="{{ currentCategory[0].name | upcase }}">{{ currentCategory[0].name | upcase }}</a> #{{ page.volume }} ({{ page.support | upcase }})</p>
    {% if page.metadata %}<p>{{ page.metadata | join: ' / ' %}}</p>{% endif %}</header>
  {{ page.excerpt }}
  <div>{{ content | replace: page.excerpt, '' }}{% comment %}{% include buy.html %}{% endcomment %}
    {% if page.video %}
    <!-- was width="320" height="240"  -->
    <video width="100%" controls poster="/assets/video/{{ page.video }}.jpg">
      <source src="/assets/video/{{ page.video }}.ogv" type="video/ogg">
      <source src="/assets/video/{{ page.video }}.mp4" type="video/mp4">
      <source src="/assets/video/{{ page.video }}.webm" type="video/webm">
      Your browser does not support the HTML video tag.
    </video>
    {% endif %}
    {% if page.youtube %}
    <div class="youtubecontainer">
      <iframe src="https://www.youtube.com/embed/{{ page.youtube }}" frameborder="0" allowfullscreen class="youtubevideo"></iframe>
    </div>
    {% endif %}
  </div>
</article>
<!-- PAGINATION -->
<div class="pagination">{% include pagination.html %}</div>
</section>
{% include sitebottom.html %}
